/* ////////////nav//////////// */

.navbar-brand {
    color: black;
    font-weight: 700;
    font-size: 30px !important;
}

.nav-link {
    color: black !important;
    font-weight: 300 !important;
}

.nav-link:hover {
    color: #c36 !important;
    text-decoration: underline;
}

.nav-item {
    padding-left: 20px;
}

.entry-section {
    background: linear-gradient(118deg, rgba(255, 245, 247, 1) 66%, rgba(222, 242, 255, 1) 66%);
    padding-top: 80px;
    padding-bottom: 100px;
}


/* ////////////section1//////////// */

.small-text {
    color: #c36;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.small-link {
    text-decoration: none;
    border: 1px solid #c36;
    padding: 20px 45px 20px 45px;
    border-radius: 30px;
    background-color: #c36;
    color: white;
    margin-bottom: 20px;
}

.big-text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 65px;
}

.small-img {
    width: 70%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.big-img {
    width: 80%;
    border-radius: 20px;
    margin-top: -215px;
    height: 240px;
    object-fit: cover;
}


/* ////////////section2//////////// */

.row-reservation {
    padding: 10px 0px 15px 20px;
}

.input-reserve {
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #7c7a7a;
    padding: 10px;
}

.arrow-reserve {
    font-size: 25px;
    position: relative;
    left: 50px;
}

.input-icon-reserve {
    margin-right: -24px;
}

.small-icon {
    border: 2px solid #c36;
    padding: 15px;
    border-radius: 50%;
    font-size: 50px;
    color: #c36;
}

.small-paragraph {
    color: rgb(124, 122, 122);
}

.big-section {
    background: rgba(255, 245, 247, 1);
    padding-top: 90px;
    padding-bottom: 90px;
}

.big-container {
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    margin-top: -135px;
    box-shadow: 0px 7px 35px 1px #00000061;
}

.button-reservation {
    text-decoration: none;
    border: 1px solid #c36;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    background-color: #c36;
    color: white;
}


/* ///////////section3////////// */

.about-text {
    margin-bottom: 30px;
}

.about-link {
    text-decoration: none;
    border: 1px solid #c36;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    background-color: #c36;
    color: white;
}

.about-img {
    margin-left: 50px;
    z-index: 9;
}

.about-third-img {
    margin-left: -60px;
}


/* ////////////section4/////////// */

.us-icon {
    background-color: #c36;
    padding: 10px 17px 10px 17px;
    margin-right: 10px;
    font-size: 45px;
    color: white;
    border-radius: 50%;
}

.us-icon-cash {
    background-color: #1962f2;
    padding: 12px 15px 12px 15px;
    margin-right: 10px;
    font-size: 45px;
    color: white;
    border-radius: 50%;
}

.us-icon-card {
    color: #e1436a;
    padding: 10px 17px 10px 17px;
    margin-right: 10px;
    font-size: 45px;
    background-color: #f9e1e6;
    border-radius: 50%;
}

.us-icon-call {
    background-color: #d2ecfd;
    padding: 10px 19px 10px 19px;
    margin-right: 10px;
    font-size: 45px;
    color: #e1436a;
    border-radius: 50%;
}


/* //////////section5/////////// */

.service-text {
    width: 60%;
}

.services {
    padding-top: 100px;
    padding-bottom: 50px;
}

.card-service {
    background-color: #def2ff !important;
}

.service-link {
    text-decoration: none;
    border: 1px solid #c36;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    background-color: #c36;
    color: white;
}

.img-back {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* ////////////section6//////////// */

.number-text {
    width: 63%;
    color: white;
}

.number-milestone {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #191d27;
}

.card-number {
    border-radius: 0px !important;
    width: 90%;
    height: 140px !important;
    border: none !important;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.42);
}

.number-card-text {
    color: #9cd3f8;
    font-size: 40px;
}

.card-third {
    margin-bottom: -120px !important;
}

.card-second {
    margin-bottom: -160px;
}


/* ////////////////section7////////////// */

.carousel-section {
    padding-top: 180px;
    padding-bottom: 80px;
    background-color: #fff5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-carousel {
    width: 13%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.carousel-indicators button {
    border-radius: 100% !important;
    background-color: #c36 !important;
    width: 10px !important;
    height: 10px !important;
}

.carousel-head {
    width: 60%;
}


/* ///////////////section8/////////////////// */

.highlights {
    background: linear-gradient(90deg, rgba(222, 242, 255, 1) 61%, rgba(0, 0, 0, 0) 61%);
    padding-bottom: 80px;
    padding-top: 80px;
}

.highlights-icon {
    color: #c36;
    margin-right: 5px;
}

.text-highlights {
    color: #505050;
}

.highlights-link {
    text-decoration: none;
    border: 1px solid #c36;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    background-color: #c36;
    color: white;
}

.highlights-img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
}

.img-high {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 200px;
    object-fit: cover;
}

.img-lights {
    width: 115%;
    border-radius: 20px;
    height: 260px;
    object-fit: cover;
    margin-left: -85px;
}

.clock {
    margin-top: -20px;
}


/* ////////////footer//////////// */

.footer-icon a {
    text-decoration: none;
    font-size: 25px;
}

.foot-input {
    padding: 7px 45px 7px 0px;
    margin-right: 10px;
    background-color: #1a1b1c00;
    border: none;
    color: white;
}

.foot-input-div {
    border-bottom: 1px solid #696a6b;
    width: 100%;
}


/* ///////responsive///////// */

@media (max-width: 1200px) {
    .big-text {
        font-size: 50px;
    }
}

@media (max-width: 990px) {
    .div-small {
        margin-top: 50px;
    }
    .about-img {
        margin: 0;
        margin-bottom: 20px;
    }
    .about-third-img {
        margin: 0;
        margin-top: 20px;
    }
    .about-link-p {
        margin-top: 40px !important;
    }
    .card-number {
        margin: 0;
        margin-bottom: 25px;
        width: 100%;
    }
    .mileston-side {
        margin-top: 200px !important;
    }
    .carousel-head {
        width: 100%;
    }
    .service-text {
        width: 100% !important;
    }
    .highlights-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .highlights-link {
        margin-bottom: 40px;
    }
    .highlights-img {
        height: 100% !important;
    }
    .img-high {
        height: 500px;
        margin-top: 20px;
    }
    .img-lights {
        margin: 0px;
        width: 100%;
        height: 500px;
    }
    .arrow-reserve {
        display: none;
    }
    .input-reserve {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .big-text {
        font-size: 30px !important;
    }
    .carousel-section {
        padding-top: 80px;
    }
    .card-service {
        margin-bottom: 20px;
    }
    .row-foot {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot-input {
        width: 100% !important;
    }
    .foot-input-div {
        width: 100%;
    }
}

.cardd:hover {
    z-index: 10000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.cardd .Box {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 1s cubic-bezier(.15, 1.7, .84, .58);
    background: #111;
}

.cardd .Box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardd:hover .Box {
    transform: rotateY(-135deg);
}

.cardd .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}

.cardd {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: 450px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 20px rgba(0, 0, 0, .5);
    transition: 1s;
}